.errorWrapper {
  display: flex;
  gap: 30px;
  flex-direction: column;
  margin: 0 auto;
  padding: 30px;
  font-family: 'Fredoka One', cursive;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  filter: drop-shadow(0 0 10px #ff0099) contrast(3) brightness(2);
}

