.container {
    display: flex;
    gap: 30px;
    flex-direction: column;
    margin: 30px auto;
    padding-bottom: 30px;
}

.themesContainer {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.neon {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
}
