.button {
  padding: 10px 30px;
  font-family: "Fredoka One", cursive;
  font-size: 20px;
  font-weight: 700;
  color: #ff0099;
  border: 2px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: .5s;
  filter: drop-shadow(0 0 15px #ff0099) drop-shadow(0 0 50px #ff0099) contrast(2) brightness(2);
}

.button:hover {
  color: white;
  background-color: #ff0099;
  filter: drop-shadow(0 0 20px #ff0099) contrast(2) brightness(2);
}

.affairButtonHigh,
.affairButtonHigh:hover {
  color: black;
  background-color: red;
}

.affairButtonMiddle,
.affairButtonMiddle:hover {
  color: black;
  background-color: yellow;
}

.affairButtonLow,
.affairButtonLow:hover {
  color: black;
  background-color: green;
}
