.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  position: relative;
  width: 200px;
  height: 15px;
}

.slider__track,
.slider__range,
.slider__left-value,
.slider__right-value {
  position: absolute;
}

.slider__track,
.slider__range {
  height: 8px;
  border-radius: 4px;
  filter: drop-shadow(0 0 5px #ff0099) contrast(2) brightness(2);
}

.slider__track {
  z-index: 1;
  width: 100%;
  background-color: #ced4da;
}

.slider__range {
  z-index: 2;
  background-color: #ff0099;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  position: absolute;
  width: 200px;
  height: 0;
  outline: none;
  pointer-events: none;
}

.thumb--left {
  z-index: 3;
}

.thumb--right {
  z-index: 4;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  position: relative;
  width: 15px;
  height: 15px;
  margin-bottom: 6px;
  border: none;
  border-radius: 50%;
  background-color:  #ff0099;
  cursor: pointer;
  pointer-events: all;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  position: relative;
  width: 15px;
  height: 15px;
  margin-bottom: 6px;
  border: none;
  border-radius: 50%;
  background-color:  #ff0099;
  cursor: pointer;
  pointer-events: all;
}
