.wrapper {
  padding-top: 30px;
}

.message {
  display: flex;
  align-items: end;
  gap: 20px;
  max-width: fit-content;
  margin: 0 auto;
  padding-top: 30px;
  font-size: 20px;
  line-height: 25px;
}

.image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 20px #ff0099;
}

.bubble {
  position: relative;
  z-index: 2;
  display: flex;
  gap: 5px;
  flex-direction: column;
  padding: 20px 80px 20px 20px;
  font-family: 'Fredoka One', cursive;
  border-radius: 10px;
  background-color: #000000;
  transition: .5s;
  filter: drop-shadow(0 0 20px #ff0099) contrast(2) brightness(2);
}

.bubble:after {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -20px;
  width: 36px;
  height: 19px;
  background: radial-gradient(circle at top left, transparent 50%, #000000 50%);
  content: "";
  transition: .5s;
  filter: drop-shadow(0 0 20px #ff0099) contrast(2) brightness(2);
}

.text {
  z-index: 2;
  margin: 0;
  color: #ff0099;
}

.name {
  z-index: 2;
  margin: 0;
  color: #ffffff;
}

.time {
  position: absolute;
  right: 10px;
  bottom: 5px;
  margin: 0;
  color: #ff0099;
}
