@import url("https://fonts.googleapis.com/css2?family=Vibur&display=swap");

.wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 20px;
  background: black center / cover no-repeat url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3540&q=80");
}

.title {
  font-family: "Vibur", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  text-shadow: 0 0 2px #ffffff,
  0 0 5px #ffffff,
  0 0 15px #ff0099,
  0 0 28px #ff0099,
  0 0 32px #ff0099,
  0 0 36px #ff0099,
  0 0 40px #ff0099;
  animation: pulsate 0.11s ease-in-out infinite alternate;
  text-align: center;
}

.button {
  padding: 10px 30px;
  font-family: "Vibur", sans-serif;
  font-size: 20px;
  color: #ff0099;
  border: 2px solid #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 2px #ffffff,
  0 0 5px #ffffff,
  0 0 15px #ff0099,
  0 0 28px #ff0099,
  0 0 32px #ff0099,
  0 0 36px #ff0099,
  0 0 40px #ff0099;
}

.affairsList {
  display: flex;
  gap: 15px;
  flex-direction: column;
  margin-bottom: 30px;
  padding: 0 30px;
}

.buttonList {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.affairItem {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  padding: 10px 10px 10px 20px;
  font-family: "Vibur", sans-serif;
  font-size: 20px;
  color: white;
  border-radius: 15px;
  background-color: black;
}

.buttonDelete {
  justify-self: right;
  width: 30px;
  height: 30px;
  padding: 0;
  color: black;
  border-radius: 50%;
  box-shadow: none;
}

.itemPriority {
  justify-self: center;
}

.high:hover {
  color: black;
  background-color: red;
  filter: drop-shadow(0 0 20px red) contrast(2) brightness(2);
}
.low:hover {
  color: black;
  background-color: green;
  filter: drop-shadow(0 0 20px green) contrast(2) brightness(2);
}

.middle:hover {
  color: black;
  background-color: yellow;
  filter: drop-shadow(0 0 20px yellow) contrast(2) brightness(2);
}


