.select {
  padding: 10px 30px;
  font-family: "Fredoka One", cursive;
  font-size: 20px;
  font-weight: 700;
  color: #ff0099;
  border: 2px solid #ffffff;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: .5s;
  filter: drop-shadow(0 0 15px #ff0099) drop-shadow(0 0 50px #ff0099) contrast(2) brightness(2);
}
