.radio {
  width: 30px;
  height: 30px;
}

.label {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  width: fit-content;
  min-height: 30px;
  padding: 10px;
  font-family: "Fredoka One", cursive;
  font-size: 20px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
  transition: .5s;
}

.labelNotChecked {
  color: #ff0099;
  border: 2px solid #ffffff;
  background-color: #ffffff;
  filter: drop-shadow(0 0 15px #ff0099) drop-shadow(0 0 50px #ff0099) contrast(2) brightness(2);
}

.labelChecked {
  color: white;
  border: 2px solid #ff0099;
  background-color: #ff0099;
  filter: drop-shadow(0 0 15px #ffffff) drop-shadow(0 0 50px #ffffff) contrast(2) brightness(2);
}
