.headerTitle {
  font-family: 'Fredoka One', cursive;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  filter: drop-shadow(0 0 10px #ff0099) contrast(3) brightness(2);
}

.headerTitle:hover {
  text-shadow: 0 0 2px #ffffff,
  0 0 5px #ffffff,
  0 0 32px #ff0099,
  0 0 36px #ff0099,
  0 0 40px #ff0099;
}

.headerWrapper {
  display: flex;
  gap: 30px;
  justify-content: start;
  padding: 20px 50px;
}

.headerWrapper:Hover {
  display: flex;

}
