.container {
  display: flex;
  gap: 30px;
  flex-direction: column;
  margin: 30px auto;
}

.superSelect {
  margin: 0 auto 30px;
  padding: 10px;
}

.superRadio {
  display: flex;
  gap: 30px;
  margin: 0 auto 30px;
  padding: 10px;
  }
